Language:        JavaScript
BasedOnStyle:    Chromium
ColumnLimit:     100

IndentWidth:             4
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep    : 2

AccessModifierOffset:                       -1
AlignAfterOpenBracket:                      true
AlignEscapedNewlinesLeft:                   true
AlignOperands:                              true
AlignTrailingComments:                      true
AllowAllParametersOfDeclarationOnNextLine:  false
AllowShortBlocksOnASingleLine:              false
AllowShortCaseLabelsOnASingleLine:          false
AllowShortFunctionsOnASingleLine:           Empty
AllowShortIfStatementsOnASingleLine:        false
AllowShortLoopsOnASingleLine:               false
AlwaysBreakBeforeMultilineStrings:          true
AlwaysBreakTemplateDeclarations:            true
BinPackArguments:                           true
BinPackParameters:                          false
BreakBeforeBinaryOperators:                 None
BreakBeforeBraces:                          Attach
BreakBeforeTernaryOperators:                true
BreakConstructorInitializersBeforeComma:    false
CommentPragmas:                             '^ IWYU pragma:'
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth:          4
Cpp11BracedListStyle:                       true
DerivePointerAlignment:                     false
DisableFormat:                              false
ExperimentalAutoDetectBinPacking:           false
IndentCaseLabels:                           true
IndentWrappedFunctionNames:                 false
KeepEmptyLinesAtTheStartOfBlocks:           false
NamespaceIndentation:                       None
ObjCBlockIndentWidth:                       2
ObjCSpaceAfterProperty:                     false
ObjCSpaceBeforeProtocolList:                false
PenaltyBreakBeforeFirstCallParameter:       1
PenaltyBreakComment:                        300
PenaltyBreakFirstLessLess:                  120
PenaltyBreakString:                         1000
PenaltyExcessCharacter:                     1000000
PenaltyReturnTypeOnItsOwnLine:              200
PointerAlignment:                           Left
SpaceAfterCStyleCast:                       false
SpaceBeforeAssignmentOperators:             true
SpaceBeforeParens:                          ControlStatements
SpaceInEmptyParentheses:                    false
SpacesBeforeTrailingComments:               2
SpacesInAngles:                             false
SpacesInCStyleCastParentheses:              false
SpacesInContainerLiterals:                  true
SpacesInParentheses:                        false
SpacesInSquareBrackets:                     false
Standard:                                   Auto
UseTab:                                     Never
